name: Release

on:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      TEST_SERVER_URL: ${{ secrets.TEST_SERVER_URL }}
      ACROLINX_API_USERNAME: ${{ secrets.ACROLINX_API_USERNAME }}
      ACROLINX_API_TOKEN: ${{ secrets.ACROLINX_API_TOKEN }}
      SSO_GENERIC_TOKEN: ${{ secrets.SSO_GENERIC_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ACROLINX_DEV_SIGNATURE: ${{ secrets.ACROLINX_DEV_SIGNATURE}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Build And Run Tests
        run: |
          npm ci
          npm run lint
          npm run ci
          npm run docs

      - name: Setup and Audit Source Code
        run: |
          npm ci
          npm audit --production --audit-level=moderate

      - name: Check For Suitable Licenses
        run: |
          export v=`node -p "require('./package.json').version"`
          export n=`node -p "require('./package.json').name"`
          npx license-checker --production --onlyAllow 'BSD;CC-PDDC;CC-BY-3.0;CC-BY-1.0;CC-BY-2.0;CC-BY-4.0;CC0-1.0;Apache;Artistic;MIT;MPL;ISC;Unlicense' --excludePackages "$n@$v$LICENSE_EXCLUDED_PACKAGES" --excludePrivatePackages

      - name: Archive Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: dist
          path: |
            dist/**/*
            tmp/reports/coverage/**/cobertura-coverage.xml

      - name: Publish To NPM
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_ACCESS_TOKEN }}

      - name: Push Tag
        uses: anothrNick/github-tag-action@v1
        env:
          CUSTOM_TAG: v${{ steps.publish.outputs.version }}

      - name: Deploy Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/pluginDoc/
          branch: gh-pages
